@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('./styles/scrollbar.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Open Sans", sans-serif, system-ui;
    font-optical-sizing: auto;
    /* font-weight: 300; */
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.teste div {
    transition: all 1s;
}

.bg-blue-50 {
    background-color: #eceeff;
}

.bg-pink-50 {
    background-color: #fff3fa;
}