name: Dev - Build and Push Docker Image

on:
  push:
    branches:
      - dev  # Executa quando há um push na branch dev
  workflow_dispatch:  # Permite disparar manualmente

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      # Verifica o repositório
      - name: Checkout repository
        uses: actions/checkout@v3

      # Faz login no Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Extrai o SHA curto do commit
      - name: Get short SHA
        id: vars
        run: echo "::set-output name=short_sha::$(git rev-parse --short HEAD)"

      # Set up Buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      # Build da imagem Docker para múltiplas arquiteturas
      - name: Build and push multi-architecture Docker image
        run: |
          docker buildx build --platform linux/amd64,linux/arm64 \
            -t ${{ secrets.DOCKER_USERNAME }}/habitos:dev . \
            --push